#!/usr/bin/make -f

# export DH_VERBOSE=1

# Reduce the number of unneeded dependencies with --as-needed.
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

ifneq ($(DEB_BUILD_ARCH),$(DEB_HOST_ARCH))
export _PYTHON_SYSCONFIGDATA_NAME=_sysconfigdata__$(DEB_HOST_MULTIARCH)
endif

%:
	dh $@ --with=python3 --buildsystem=pybuild

override_dh_auto_install:
	mkdir -p debian/tmp/usr/lib/udev/rules.d
	install -m 644 contrib/60-libsigrok.rules debian/tmp/usr/lib/udev/rules.d/
	install -m 644 contrib/61-libsigrok-plugdev.rules debian/tmp/usr/lib/udev/rules.d/
	install -m 644 contrib/61-libsigrok-uaccess.rules debian/tmp/usr/lib/udev/rules.d/
	dh_auto_install
